.chat {
  &>*:not(:last-child) {
    margin-bottom: 1rem;
  }

  letter-spacing: 0.01rem;

  h1 {
    @apply text-xl font-semibold;
  }

  h2 {
    @apply text-lg font-semibold;
  }

  h3 {
    @apply text-base font-semibold;
  }

  h4 {
    @apply text-sm font-semibold;
  }

  table {
    @apply table table-xs;

    tr {
      @apply border-b-zinc-700;

      &:last-child {
        @apply border-b-zinc-700;
      }
    }
  }

  input {
    &[type=checkbox] {}
  }

  li li {
    padding-left: 1rem;
    padding-top: 0rem;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
  }

  ol {
    list-style: auto;
    list-style-position: inside;
    margin-bottom: 0px !important;
  }

  li {

    list-style: auto;
    list-style-position: inside;
    margin-bottom: 1rem;

    strong {
      @apply text-white;
    }

    &::marker {
      font-weight: bold;
      color: #ffffff8a;
    }

    p {
      display: inline;
    }
  }


  pre {
    overflow: auto !important;
    width: 100% !important;
    text-wrap: balance !important;
    background: #0d1117 !important;
    border-radius: 5px !important;

    pre {
      text-wrap: balance;
      margin: 0px !important;
      background: transparent !important;
      padding: 0px !important;
    }

    code {
      color: #c9d1d9 !important;
      background: #0d1117 !important;
      display: block !important;
      overflow-x: auto !important;
      padding: 1em !important;
      white-space: pre-wrap !important;
    }
  }

  code {
    border-radius: 5px;
    color: #c9d1d9;
    background: #171c24;
    font-size: 0.8rem;
    padding: 2px 5px;
  }

  p {
    *line-height: 1.4rem;
    text-rendering: optimizeLegibility;
    *letter-spacing: 0.03rem;
    white-space: pre-line;
    *color: #e9e9e9;
    overflow-wrap: anywhere;

    &>code {
      padding: 0.1rem 0.4rem;
      font-size: 0.75rem;
    }
  }
}


.branch {
  p {
    max-width: 250px;
    min-height: 1rem;
    text-wrap: nowrap !important;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}