.chat {
  &>*:not(:last-child) {
    margin-bottom: 1rem;
  }

  ol {
    list-style: auto;
    list-style-position: inside;
  }

  li {
    list-style: auto;
    list-style-position: inside;
    margin-bottom: 1rem;

    &::marker {
      font-weight: bold;
    }

    p {
      display: inline;
    }
  }

  pre {
    overflow: auto;
    width: 100%;
    text-wrap: balance;
    background: #0d1117;
    border-radius: 5px;

    &>code {
      color: #c9d1d9;
      background: #0d1117;
      display: block;
      overflow-x: auto;
      padding: 1em;
    }
  }

  code {
    border-radius: 5px;
    color: #c9d1d9;
    background: #0d1117;
    font-size: 0.8rem;
  }

  p {
    line-height: 1.4rem;
    text-rendering: optimizeLegibility;

    &>code {
      padding: 0.1rem 0.4rem;
    }
  }

}