.chat {
  &>*:not(:last-child) {
    margin-bottom: 1rem;
  }

  ol {
    list-style: auto;
    list-style-position: inside;
  }

  code {
    border-radius: 5px;
    color: #c9d1d9;
    background: #0d1117;
  }

  p>code {
    padding: 0.1rem 0.4rem;
  }
}