.dark {
  background-color: #222222;
  color: #fff;

  #Menu,
  #Inspector {
    background-color: #292929;
  }

  .p-btn-primary {
    @layer lex;
    @apply bg-[#0B99FF] hover:bg-[#38abfd] border border-zinc-900 border-t-zinc-700 inset-y-0 right-0 font-medium rounded-lg text-sm text-[#fff] p-4 py-3 justify-start items-start text-left transition-all;

    &.disabled {}
  }

  .p-btn-secondary {
    @layer lex;
    @apply flex flex-row bg-zinc-800/30 hover:bg-zinc-900/70 border border-dashed border-zinc-700 border-t-zinc-600/70 rounded-md p-3 cursor-pointer text-zinc-500 hover:text-zinc-200 text-sm font-medium transition-all;

    &.disabled {}
  }

  .gradient-bg {
    @apply bg-zinc-900 bg-gradient-to-br from-zinc-800/30 to-zinc-700/30;
  }
}

.avatar {
  img {
    image-rendering: auto;
  }
}

button:disabled {
  opacity: 0.5 !important;
}

.content {
  overflow-y: auto;
}

/* Vertical Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Vertical Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Vertical Handle */
::-webkit-scrollbar-thumb {
  opacity: 0.1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

/* Horizontal Scrollbar */
::-webkit-scrollbar:horizontal {
  height: 8px;
}

/* Horizontal Track */
::-webkit-scrollbar-track:horizontal {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Horizontal Handle */
::-webkit-scrollbar-thumb:horizontal {
  opacity: 0.1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

/* Tooltip tweaks */
.tooltip.tooltip-open:before,
.tooltip.tooltip-open:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:before {
  font-size: 0.7rem !important;
  border-top: 1px solid #ffffff20;
  white-space: pre-wrap;
  z-index: 9999;
  font-weight: 500;
  background-color: #1b1b1b;
  text-align: left;
}