.dark {
  background-color: #222222;
  color: #fff;

  #Menu,
  #Inspector {
    background-color: #292929;
  }

  .p-btn-primary {
    @layer lex;
    @apply bg-[#0B99FF] hover:bg-[#38abfd] border border-zinc-900 border-t-zinc-700 inset-y-0 right-0 font-medium rounded-lg text-sm text-[#fff] p-4 py-3 justify-start items-start text-left;

    &.disabled {}
  }
}

button:disabled {
  opacity: 0.5 !important;
}

/* Vertical Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Vertical Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Vertical Handle */
::-webkit-scrollbar-thumb {
  opacity: 0.1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

/* Horizontal Scrollbar */
::-webkit-scrollbar:horizontal {
  height: 8px;
}

/* Horizontal Track */
::-webkit-scrollbar-track:horizontal {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Horizontal Handle */
::-webkit-scrollbar-thumb:horizontal {
  opacity: 0.1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

/* Tooltip tweaks */
.tooltip.tooltip-open:before,
.tooltip.tooltip-open:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:before {
  font-size: 0.7rem !important;
  border-top: 1px solid #ffffff20;
}