@import "./dark.scss";
@import "./patches.scss";
@import "./chat.scss";
@import "./notepad.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#main,
#root {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

#ContentViews {
  min-height: 0;
}

#messages {
  flex-grow: 1;
  min-height: 0;
}

.react-auto-scroll__scroll-container {
  flex-grow: 1;
  min-height: 0;
}