.Notepad {
  p:not(:first-child) {
    @apply mb-3;
    white-space: pre-wrap;
    tab-size: 2;
  }

  table {
    @apply table table-xs;

    tr {
      @apply border-b-zinc-700;

      &:last-child {
        @apply border-b-zinc-700;
      }
    }
  }

  .code {
    @apply my-4;
    font-size: 10px !important;

    pre {
      @apply bg-zinc-900 border border-zinc-800 rounded;
    }

    code {
      /* @apply bg-zinc-900; */
      font-size: 0.7rem;
      text-wrap: wrap;
    }
  }

  li,
  p, h1, h2, h3, h4, h5, h6 {
    @apply text-zinc-200 mb-2 whitespace-pre-wrap list-inside list-decimal #{!important};

    &:last-child {
      @apply mb-0 #{!important};
    }
  }
  h1 {
    @apply text-xl font-semibold;
  }
  h2 {
    @apply text-lg font-semibold;
  }
  h3 {
    @apply text-base font-semibold;
  }
  h4 {
    @apply text-sm font-semibold;
  }
  hr {
    @apply my-4 border-b-[1px] border-zinc-700;
  }
}