.Notepad {
  p:not(:first-child) {
    @apply mb-3;
    white-space: pre-wrap;
    tab-size: 2;
  }

  table {
    @apply table table-xs;

    tr {
      @apply border-b-zinc-700;

      &:last-child {
        @apply border-b-zinc-700;
      }
    }
  }

  .code {
    @apply my-4;
    font-size: 10px !important;
    pre {
      @apply bg-zinc-900 border border-zinc-800 rounded;
    }

    code {
      /* @apply bg-zinc-900; */
      font-size: 0.7rem;
      text-wrap: wrap;
    }
  }

  li,
  p {
    @apply mb-1 whitespace-pre-wrap list-inside list-decimal #{!important};
  }
}