/* remove the extra space under Flowbite tabs */
div[aria-label=Tabs]+div {
  display: none;

  div[role=tabpanel] {
    padding-top: 0px !important;
  }
}

/* remove field outlines */
input,
textarea,
select {
  outline: none !important;
  box-shadow: none !important;
}

dialog {
  background: transparent !important;

  &[open] {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    background: transparent !important;
    box-shadow: none !important;

    &::backdrop {
      backdrop-filter: blur(1px);
    }

    .modal {
      box-shadow: none !important;

    }
  }
}

/* remove the border from tabs */
.tab {
  &.tab-active:not(.tab-disabled):not([disabled]) {
    border: inherit !important;
  }
}

/* react easy edit */
.easy-edit-not-allowed {
  cursor: pointer !important;
}

.easy-edit-inline-wrapper {
  display: flex;
  flex-grow: 1;

  .easy-edit-component-wrapper {
    display: flex;
    flex-grow: 1;
  }

  .easy-edit-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-right: 0.2rem;
    height: 24px;

    .easy-edit-button {
      &:first-child {
        margin-left: 0.2rem;
      }

      margin: 0px;
      padding: 0px;
    }
  }

  textarea {
    font-size: inherit;
    line-height: inherit;
    padding: 0px;
    margin: 0px;
  }
}

.OrganizerSession {
  .easy-edit-wrapper {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    max-width: 90%;
    overflow: hidden;
}
}

.Clipboard {
  .easy-edit-button-wrapper {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}

.Settings {
  .easy-edit-wrapper {
    /* expand to full width and set text align to right */
    width: 100%;
    /* text-align: right; */
    /* padding: 0.5rem; */
    border: 1px solid var(--border-zinc-700);
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
  }

  .easy-edit-button-wrapper {
    height: auto;
  }

  .easy-edit-component-wrapper {

    input {
      /* make the input field full width */
      width: 100%;
      /*text-align: right;*/
      /* padding: 0.5rem; */
    }
  }
}

.ModuleSetting {
  .easy-edit-component-wrapper {

    input {
      /* make the input field full width */
      width: 100%;
      text-align: right;
      padding-right: 0.5rem;
    }
  }
}

/* react auto scroll */
.react-auto-scroll__scroll-container {
  overflow-x: hidden !important;
}

/* dally keyboard shortcuts */
.kbd {
  border-radius: 0.2rem !important;

  &.kbd-xs {
    font-size: 0.7rem !important;
    padding: 0rem 0.4rem !important;
  }
}

/* react-resizable */
.react-resizable-handle {
  background-image: none !important;
  height: 100% !important;
  top: 0 !important;
  bottom: 0 !important;
  transform: none !important;
}